/* 
Font sizes:

## Small Tablets
### Font sizes
3.8rem
2.6rem
2rem
1.8rem
1.6rem

## Spacing:
3.2rem
2.8rem
2.4rem
1.6rem

## Letter spacing:
- Small: 0.2px
- Medium: 0.15px

*/

/* 1152px */
@media (max-width: 72em) {
  body {
    padding: 2.4rem 3.2rem;
  }
}

/* 848px */
@media (max-width: 53em) {
  html {
    font-size: 50%;
  }

  .app-header {
    justify-content: center;
    gap: 2.8rem;
    margin-bottom: 3.2rem;
  }

  img {
    width: 10rem;
  }

  h1 {
    font-size: 3.8rem;
  }

  h2 {
    font-size: 2.6rem;
    margin-bottom: 1.6rem;
  }

  h3 {
    font-size: 1.8rem;
    margin-bottom: 2.4rem;
  }

  .btn {
    font-size: 1.8rem;
  }

  /* QUIZ PART */
  .progress {
    font-size: 1.6rem;
    margin-bottom: 6.4rem;
  }

  progress {
    width: 85%;
    margin: 0 auto;
  }

  .progress p:not(:last-child) {
    transform: translateX(30%);
  }

  .progress p:last-child {
    transform: translateX(-50%);
  }

  .progress + div {
    width: 85%;
    margin: 0 auto;
  }

  h4 {
    font-size: 2rem;
    text-align: center;
  }

  .result {
    width: 85%;
    margin: 0 auto 2.4rem auto;
  }

  /* FOOTER */

  .timer {
    width: auto;
  }
}

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* 544px MOBILE DEVICES */
@media (max-width: 34em) {
  body {
    padding: 4.8rem 1.2rem;
  }

  .app {
    max-width: 85%;
    margin: 0 auto;
  }

  .app-header {
    flex-direction: column;
    gap: 1.8rem;
    margin-bottom: 4.4rem;
  }

  .progress {
    margin-bottom: 5.6rem;
  }

  .main,
  progress {
    width: 100%;
  }

  .progress p:not(:last-child) {
    transform: translateX(0%);
  }

  .progress p:last-child {
    transform: translateX(0);
  }

  h2 {
    font-size: 2.4rem;
  }

  h3,
  h4 {
    margin-bottom: 3.2rem;
  }

  h4 {
    letter-spacing: 0.15px;
  }

  .progress + div {
    width: 100%;
  }

  .options {
    gap: 1.4rem;
    margin-bottom: 4.4rem;
  }

  .btn {
    font-size: 1.6rem;
    letter-spacing: 0.2px;
  }

  .btn-ui {
    letter-spacing: 0.3px;
  }

  .result {
    font-size: 1.8rem;
    padding: 1.8rem 3.6rem;
  }
}
